<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=475, initial-scale=1">
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/users.min.css" rel="stylesheet">
    
    <title>All Uploads</title>

  </head>

  <body>
    
    <script src="/bower_components/angular/angular.min.js"></script>
    <!-- Local angular files -->
    <script src="/angular/users/app.min.js"></script>
    <script src="/angular/users/controller.min.js"></script>
    <script src="/angular/users/services.min.js"></script>

    <div id="main-container" ng-app="modwatchApp" ng-controller="MainCtrl">
      <h1 id="header"><a href="/">MODWAT.CH</a></h1>
      <span id="list-container">
        <span id="search-container">
          <input type="text" class="form-control" ng-model="userfilter" id="filter-mods" placeholder="Filter by..."/>
          <span id="count">{{users.length}}</span>
        </span>
        <img ng-show="loading" id="ajaxloadergif" src="/images/ajax-loader.gif"/>
        <ul id="users">
          <li ng-repeat="username in users | filter:userfilter"><a href="/{{username}}">{{username}}</a></li>
        </ul>
      </span>
            
    </div>

    <script>
    
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-53199250-1', 'auto');
      ga('send', 'pageview');
    
    </script>
        
  </body>
</html>