<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/home.min.css" rel="stylesheet">
    <title>Charts!</title>

    <style type="text/css">
    	.update-block {
    		width: 100%;
    		height: 100%;
    	}
    </style>

</head>
<body>
	<div id="full-wrapper">
		<h1 id="header"><a href="/">MODWAT.CH</a></h1>
		<span id="content-wrapper">
			<div>
				<p id="download-header"><a href="http://www.nexusmods.com/skyrim/mods/56640/?tab=2&navtag=http%3A%2F%2Fwww.nexusmods.com%2Fskyrim%2Fajax%2Fmodfiles%2F%3Fid%3D56640&pUp=1#content">Download Here!</a></p>
			</div>
			<div class="update-block">
				<h1>NVIDIA VS AMD</h1>
				<div id="piechart" style="width:325px;height:325px"></div>
			</div>
		</span>
		<span id="sidebar-wrapper">
			<% if (user == "") { %>
				<form class="form-group" style="margin-bottom: 20px;padding:0 10%;background-color: #E3A853;border-radius: 10px;"  action="/login" method="post">
					<h2 style="color:#ffffff;padding-top:10px;margin-top:0px">Welcome!</h2>
					<label class="sr-only" for="loginUsername">Username</label><input type="text" id="loginUsername" class="form-control" name="username" placeholder="Username">
					<label class="sr-only" for="loginPassword">Password</label><input type="password" id="loginPassword" class="form-control" name="password" placeholder="Password">
					<button type="submit" class="btn btn-default vert-margin">Login</button>
				</form>
			<% } else { %>
				<div class="form-group" style="margin-bottom: 20px;padding:0 10%;background-color: #E3A853;border-radius: 10px;">
					<h2 style="color:#ffffff;padding-top:10px;margin-top:0px">Hi, <%= user %>!</h2>
					<a href="/<%=user%>"><button type="submit" class="btn btn-default" style="margin-bottom:5px">Your Profile</button></a>
					<a href="/logout"><button type="submit" class="btn btn-default" style="margin-bottom:5px">Logout</button></a>
				</div>
			<% } %>
			<form class="input-group" action="/usersearch" method="post">
				<input type="text" class="form-control" name="username" placeholder="Username"/>
				<button class="btn btn-default vert-margin" type="submit" style="margin:10px 0px">Find a load order!</button>
			</form>
			<br />
			<form class="form-group" action="/usersearch" method="post">
				<select class="form-control" id="userlist" name="username"><option disabled>Loading...</option></select>
				<button type="submit" class="btn btn-default vert-margin">Go</button>
			</form>
			<div id="sidebar-links">
				<a href="https://github.com/ansballard/SkyrimModWatcher" target="_blank"><img id="github-link" src="/images/GitHub-Logo_invert.png" class="sidebar-link" alt="Github repository link" title="Github Repo"/></a>
				<a href="http://www.nexusmods.com/skyrim/mods/56640/?" target="_blank"><img id="nexus-link" src="/images/FNV_NEXUS_small.png" class="sidebar-link" alt="Nexus link" title="Nexus Page"/></a>
			</div>
		</span>
	</div>
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53199250-1', 'auto');
  ga('send', 'pageview');

</script>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
    	var gpuData = {};
    	var nVSaData = [['Brand','Percentage']];

      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable(nVSaData);

        var options = {
          backgroundColor: '#D0D0D0',
          legend: 'none',
          colors: ['#76b900','#EA2026']
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);

        function resizeHandler () {
	        chart.draw(data, options);
	    }
	    if (window.addEventListener) {
	        window.addEventListener('resize', resizeHandler, false);
	    }
	    else if (window.attachEvent) {
	        window.attachEvent('onresize', resizeHandler);
	    }
      }

      $(document).ready(function() {
		$.getJSON("/GPUList", function(data) {
			gpuData = data;
			console.log(data);

			nVSaData.push(['NVIDIA',gpuData.NVIDIA / (gpuData.NVIDIA + gpuData.AMD)]);
			nVSaData.push(['AMD',gpuData.AMD / (gpuData.NVIDIA + gpuData.AMD)]);
			console.log(nVSaData);
			drawChart();
	    });
	});
    </script>
</body>
</html>
