<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/home.min.css" rel="stylesheet">
    <title>Modwat.ch</title>
</head>
<body>

	<div id="full-wrapper">
		<div id="ng-app" ng-app="modwatchApp" ng-controller="MainCtrl">
		<div ng-init="setBadge('<%= user %>')"></div>
		<h1 id="header"><a href="/">MODWAT.CH</a></h1>
		<span id="content-wrapper">
			<div>
				<p id="download-header"><a href="http://www.nexusmods.com/skyrim/mods/56640/?tab=2&navtag=http%3A%2F%2Fwww.nexusmods.com%2Fskyrim%2Fajax%2Fmodfiles%2F%3Fid%3D56640&pUp=1#content">Download Here!</a></p>
			</div>
			<div class="update-block">
				<img ng-show="blogloading" src="/images/ajax-loader.gif"/>
			  <div class="post-header">
					<h3 class="post-title">What is Modwatch?</h3>
				</div>
			  <p class="post-body">
			    Modwatch is a site for uploading and sharing modlists for Skyrim (and eventually other games). If you want to view some of the 1000+ modlists, you can look through the dropdown to the right. Or if you have one in mind, you can view it at moddwat.ch/username.
			  </p>
			  <div class="post-header">
					<h3 class="post-title">Uploading Your Mods!</h3>
				</div>
			  <p class="post-body">
			    If you want to upload your own modlist, you can download the script via the gigantic orange button at the top of the page. Instructions for uploading are detailed on the nexus page.
			  </p>
			  <div class="post-header">
					<h3 class="post-title">Logging In!</h3>
				</div>
			  <p class="post-body">
			    Finally, if you've uploaded your modlist, your can log in with the same username and password you used in the uploader to log in to the right. While logged in, you can go to your profile and add an ENB and tag to your modlist. Eventually you'll have more options to customize, so stay tuned!
			  </p>
			</div>
		</span>
		<span id="sidebar-wrapper">
			<% if (user == "") { %>
				<form class="form-group" style="margin-bottom: 20px;padding:0 10%;background-color: #E3A853;border-radius: 10px;"  action="/login" method="post">
					<h2 style="color:#ffffff;padding-top:10px;margin-top:0px">Welcome!</h2>
					<label class="sr-only" for="loginUsername">Username</label><input type="text" id="loginUsername" class="form-control" name="username" placeholder="Username">
					<label class="sr-only" for="loginPassword">Password</label><input type="password" id="loginPassword" class="form-control" name="password" placeholder="Password">
					<button type="submit" class="btn btn-default vert-margin">Login</button>
				</form>
			<% } else { %>
				<div class="form-group" style="margin-bottom: 20px;padding:0 10%;background-color: #E3A853;border-radius: 10px;">
					<h2 style="color:#ffffff;padding-top:10px;margin-top:0px">Hi, <%= user %>!</h2>
					<a href="/<%=user%>"><button type="submit" class="btn btn-default" style="margin-bottom:5px">Your Profile</button></a>
					<a href="/logout"><button type="submit" class="btn btn-default" style="margin-bottom:5px">Logout</button></a>
				</div>
			<% } %>
			<form class="input-group" action="/usersearch" method="post">
				<input type="text" class="form-control" name="username" placeholder="Username"/>
				<button class="btn btn-default vert-margin" type="submit" style="margin:10px 0px">Find a load order!</button>
			</form>
			<br />
			<form class="form-group" action="/usersearch" method="post">
				<select class="form-control" id="userlist" name="username"><option ng-repeat="username in users">{{username}}</option></select>
				<button type="submit" ng-disabled="users.length==1" class="btn btn-default vert-margin">Go</button>
			</form>
			<div id="sidebar-links">
				<a href="https://github.com/ansballard/SkyrimModWatcher" target="_blank"><img id="github-link" src="/images/GitHub-Logo_invert.png" class="sidebar-link" alt="Github repository link" title="Github Repo"/></a>
				<a href="http://www.nexusmods.com/skyrim/mods/56640/?" target="_blank"><img id="nexus-link" src="/images/FNV_NEXUS_small.png" class="sidebar-link" alt="Nexus link" title="Nexus Page"/></a>
			</div>
		</span>
	</div>
	<script>

	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-53199250-1', 'auto');
	  ga('send', 'pageview');

	</script>

	<script src="/bower_components/angular/angular.min.js"></script>
  <!-- Local angular files -->
  <script src="/angular/home/app.min.js"></script>
  <script src="/angular/home/controller.min.js"></script>
  <script src="/angular/home/services.min.js"></script>

</body>
</html>
