<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <title>Skyrim Mod Watcher</title>

    <style type="text/css">
      body {
        font-family:"Open Sans", sans-serif;
        color:#000000;
        background:#ebebeb;
      }
      span#list-container {
        width: 50%;
        margin: 2.5% 5% 2.5% 5%;
        vertical-align: top;
        display: inline-block;
      }
      span#search-container {
        text-align: center;
        width: 30%;
        max-width: 300px;
        margin: 5% 10% 0px 5%;
        vertical-align: top;
        display: inline-block;
        position: fixed;
      }
      div#main-container {
        max-width: 1000px;
        margin: auto;
      }
    </style>

  </head>

  <body>

    <div id="main-container">
      <span id="list-container">
        <ul class="list-group" id="mod-list"></ul>
      </span>
      <span id="search-container">
        <h3 id="username"></h3>
        <input type="text" class="form-control" id="filter-mods" placeholder="Filter by..."/>
      </span>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script type="text/javascript">

      var username = "<%- username %>";
      var list = <%-list%>;
      var listBody = "";

      for(var i = 0; i < list.length; i++) {
        listBody += "<li class='list-group-item'>"+list[i]+"</li>";
      }
      
      $('#username').append(username + "\'s load order");
      $('#mod-list').append(listBody);

      $('#filter-mods').keyup(function(){
        var filterText = $(this).val();
        $('#mod-list > li').each(function(){
          var text = $(this).text().toLowerCase();
          if(filterText[0] == '^') {
            (text.indexOf(filterText.substr(1)) == 0) ? $(this).slideDown() : $(this).slideUp();
            console.log(filterText.substr(1));
          } else {
            (text.indexOf(filterText) >= 0) ? $(this).slideDown() : $(this).slideUp();
          }
        });
      });
    </script>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53199250-1', 'auto');
  ga('send', 'pageview');

</script>
        
  </body>
</html>