<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=475, initial-scale=1">
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/profile.min.css" rel="stylesheet">
    <title><%= username %>'s Load Order</title>
  </head>
  <body>

    <div id="main-container" ng-app="modwatchApp" ng-controller="MainCtrl">
    <div ng-init="init('<%=username%>')"></div>
      <h1 id="header"><a href="/">MODWAT.CH</a></h1>
      <span id="list-container">
        <div id="nav-wrapper">
          <h1 id="timestamp">Updated: {{timestamp|date:'shortDate'}}</h1>
          <div style="margin-bottom:10px">
            <% if(owner) { %>
              <form class="form-inline" id="enbPost">
                <label class="sr-only" for="enb">Your ENB</label><input type="text" ng-model="enb" id="enb" class="form-control" name="enb" placeholder="Your ENB">
                <button type="submit" class="btn btn-default vert-margin" ng-click="newENB()">Update</button>
              </form>
              <form class="form-inline" id="tagPost">
                <label class="sr-only" for="tag">Your Tag</label><input ng-model="tag" type="text" id="tag" class="form-control" name="tag" placeholder="Your Tag">
                <button type="submit" class="btn btn-default vert-margin" ng-click="newTag()">Update</button>
              </form>
              <a href="/logout"><button type="submit" class="btn btn-default" style="margin-top:5px">Logout</button></a>
            <% } %>
          </div>
          <h1 ng-if="enb" id="enbText">{{ enb }}</h1>
          <h1 ng-if="tag" id="tagText">"{{ tag }}"</h1>
          <span><button class="btn" id="pluginsNav" ng-click="switchFiles('plugins')">Plugins</button></span>
          <span><button class="btn" id="modlistNav" ng-click="switchFiles('modlist')">Modlist</button></span>
          <span><button class="btn" id="iniNav" ng-click="switchFiles('ini')">{{ game | capitalize}}</button></span>
          <span><button class="btn" id="prefsiniNav" ng-click="switchFiles('prefsini')">{{ game | capitalize}}Prefs</button></span>
        </div>
        <span id="search-container">
          <h3 id="username">{{ username }}</h3>
          <input type="text" class="form-control" ng-model="filterMods" id="filter-mods" placeholder="Filter by..."/>
          <button ng-show="!modlistChecked && currentFilename == 'modlist'" ng-click="modlistChecked = true" class="btn" id="filter-checked">Show Only Running Mods</button>
          <button ng-show="modlistChecked && currentFilename == 'modlist'" ng-click="modlistChecked = false" class="btn" id="filter-checked">Show All Mods</button>
        </span>
        <div style="min-height:500px">
          <ul id="plugins" ng-show="currentFilename == 'plugins'">
            <li ng-repeat="item in plugins | stripedList:filterMods" ng-class="item.class"><span class='row-header'>{{$index+1}}.</span><span class='row-body'>{{item.name}}</span><span class='row-footer {{item.name|limitTo:-3}}'>{{item.name|limitTo:-3}}</span></li>
          </ul>
          <ul class="" id="modlist" ng-show="currentFilename == 'modlist'">
            <li ng-repeat="item in modlist | checked:modlistChecked | stripedList:filterMods" ng-class="item.class"><span class='row-header'>{{$index+1}}.</span><span class='row-body'>{{item.name}}</span></li>
          </ul>
          <ul class="" id="ini" ng-show="currentFilename == 'ini'">
            <li ng-repeat="item in ini | stripedList:filterMods" ng-class="item.class"><span class='row-header'>{{$index+1}}.</span><span class='row-body'>{{item.name}}</span></li>
          </ul>
          <ul class="" id="prefsini" ng-show="currentFilename == 'prefsini'">
            <li ng-repeat="item in prefsini | stripedList:filterMods" ng-class="item.class"><span class='row-header'>{{$index+1}}.</span><span class='row-body'>{{item.name}}</span></li>
          </ul>
        </div>
      </span>

    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53199250-1', 'auto');
      ga('send', 'pageview');

    </script>

    <script src="/bower_components/angular/angular.min.js"></script>
    <!-- Local angular files -->
    <script src="/angular/profile/app.min.js"></script>
    <script src="/angular/profile/controller.min.js"></script>
    <script src="/angular/profile/services.min.js"></script>

  </body>
</html>