body {
	font-family:"Muli", sans-serif;
	color:#000000;
	text-align:center;
	background:#ebebeb;
	background-image: url("/images/congruent_outline.png");
}
.input-group {
	margin: auto;
}
#header {
	width:100%;
	padding-bottom: 20px;
	font-size: 6em;
	font-weight: bold;
	color:#D0D0D0;
}
#download-header {
	width:100%;
	font-size: 4em;
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
	background-color: #E3A853;
	border-radius: 10px;
	color:#ebebeb;
}
#header a {
	color:#D0D0D0;
	text-decoration:none;
}
#download-header a {
	color: #ebebeb;
	text-decoration: none;
}
#content-wrapper {
	text-align: left;
	width: 70%;
	padding-left: 25px;
	padding-right: 25px;
	margin-right: 5%;
	margin-bottom: 50px;
	display: inline-block;
	vertical-align: top;
	border-radius: 10px;
	background-color: #D0D0D0;
}
#sidebar-wrapper {
	width: 20%;
	max-width: 200px;
	display: inline-block;
	vertical-align: top;
}
#full-wrapper {
	width:90%;
	max-width: 1000px;
	min-width: 500px;
	margin:auto;
}
#sidebar-links {
	width: 100%;
	min-width: 175px;
	padding-top: 20px;
	margin-bottom:50px;
}
.sidebar-link {
	padding-top: 10px;
	width: 100%;
}
.post-header {
	background-color:#808080;
	border-radius: 5px;
	margin-top: 20px;
	text-transform: uppercase;
}
.post-thumbnail {
	width: 150px;
	border-radius: 5px;
	margin-right: 25px;
	margin-top: 10px;
	display: inline-block;
}
.post-title {
	display: inline-block;
	font-weight: bold;
	margin-left: 10px;
	color: #D0D0D0;
}
.post-body {
	padding-top: 25px;
	padding-right: 10px;
	font-size: 17px;
}
.post-sig {
	padding-top: 15px;
	padding-left: 15px;
}
.btn {
	background-color: #E0E0E0;
}